{% extends "app/mydir/common/maincontent.html" %}
{% block content %}

{% if notify == 1 %}
<div id="notification" class="ui-pnotify  ui-pnotify-fade-normal ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move" style=" width: 300px; right: 36px; top: 100px; cursor: auto;" aria-live="assertive" aria-role="alertdialog">
    <div class="alert ui-pnotify-container alert-success ui-pnotify-shadow" role="alert" style="min-height: 16px;">
        <div class="ui-pnotify-closer" aria-role="button" tabindex="0" title="Close" style="cursor: pointer;" >
            <span class="glyphicon glyphicon-remove" onclick="document.getElementById('notification').style.visibility='hidden';"></span>
        </div>
        <div class="ui-pnotify-icon">
            <span class="glyphicon glyphicon-ok-sign"></span>
        </div>
        <h4 class="ui-pnotify-title">Success</h4>
        <div class="ui-pnotify-text" aria-role="alert">Successfully inserted to database!
        </div>
    </div>
</div>
{% endif %}

{% include "app/mydir/includes/apps/producttype/producttype.html" %}
{% include "app/mydir/common/failure.html" %}

{% endblock %}