{% extends "app/mydir/common/maincontent.html" %}
{% block content %}

<div class="row">
<div class="page-title">
              <div class="title_left">
                <h3>Quick Navigation</h3>
              </div>
</div>
</div>

{% include "app/mydir/includes/apps/quicknav/smallstats.html" %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        {% include "app/mydir/includes/apps/quicknav/quicknav.html" %}
        {% include "app/mydir/includes/apps/quicknav/4buttons.html" %}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {% include "app/mydir/includes/apps/quicknav/reportnav.html" %}
        {% include "app/mydir/includes/apps/quicknav/reception.html" %}
    </div>
</div>


{% endblock %}