<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">Category</h3>
                            </div>
                             <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right ">
                                    <div class="input-group">
                                        <select id="q" onchange="getcategories()" class="form-control">
                                          {% for c in categories %}
                                            <option value="{{c.category_name}}">{{c.category_name}}</option>
                                          {% endfor %}
                                        </select>
                                      <script>
                                        document.getElementById("q").selectedIndex = -1;
                                      </script>
                                    </div>

                                </div>
                            </div>
</div>


<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small>Add/Edit a new category for item classification</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="categoryentry" method="post"  action="categoryentry.html" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category_id">Category ID
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="category_id" name="category_id" placeholder="Leave blank for new category" class="form-control col-md-7 col-xs-12" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category_name">Category Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="category_name" name="category_name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category_code">Category Code <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="category_code" name="category_code" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category_description">Category Description</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="category_description" name="category_description" class="form-control col-md-7 col-xs-12" rows="3" ></textarea>
                            </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

<script>
  $(document).on('change','#q',function(){
               metalist = [];
      metalist.push(document.getElementById("q").value);
      $.ajax({
        url: '/ajax/getcategories/',
        data: {
          'metalist': metalist,
        },
        dataType: 'json',
        success: function (data) {
            document.getElementById("category_id").value = data.category.id;
            document.getElementById("category_name").value = data.category.category_name;
            document.getElementById("category_code").value = data.category.category_code;
            document.getElementById("<category_de></category_de>scription").value = data.category.category_description;
            document.getElementById("discount").value = data.category.discount;
            document.getElementById("taxes").value = data.category.taxes;
        }
      });
          });
</script>
