<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Implementation Report</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="implementation" method="post" action="implementation.html" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}

                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Franchise name <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                             <select id="franchise_code" name="franchise_code" class="form-control">
                               {% for franchise in franchise_list %}
                               <option value="{{franchise.id}}">{{franchise.franchise_name}}</option>
                               {% endfor %}
                              </select>
                            </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of signing MOU</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="date_mou" name="date_mou"  class="form-control" placeholder="DD/MM/YYYY" data-inputmask="'mask': '99/99/9999'">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="v1"> Mark Y/N<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label class="">
                              <input id="v1" name="v1" class="flat" checked="checked"  type="checkbox"> Painting
                            </label>
                          </div>
                          <div class="checkbox">
                            <label class="">
                              <input id="v2" name="v2" class="flat" checked="checked"  type="checkbox"> Electrification
                            </label>
                          </div>
                          <div class="checkbox">
                            <label class="">
                              <input id="v3" name="v3" class="flat" checked="checked"  type="checkbox">Sign Board
                            </label>
                          </div>
                          <div class="checkbox">
                            <label class="">
                              <input id="v4" name="v4" class="flat" checked="checked"  type="checkbox">Installation of required Equipments
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Inaugrations</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="doi" name="doi"  class="form-control" placeholder="DD/MM/YYYY" data-inputmask="'mask': '99/99/9999'">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comments">Comments
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="comments" name="comments" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

{% include 'app/mydir/common/successfulinsertion.html' %}


