{% if permissions.add_franchise or permissions.change_franchise %}
<div>
              <div class="x_panel">
                <div class="x_title">
                  <h2>Franchise</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <ul class="list-unstyled timeline">
                    {% if permissions.add_franchise %}
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="addfranchise.html" class="tag">
                            <span>Add</span>
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                                          <a>Add a new franchise to your business</a>
                                      </h2>
                          <p class="excerpt">Insert new franchise details into the database and assign privileges.
                          </p>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                    {% if permissions.change_franchise %}
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="viewfranchise.html" class="tag">
                            <span>View</span>
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                              <a>View franchise details and reports</a>
                          </h2>
                          <p class="excerpt">View franchise details and access a variety of reports specific to each franchise.
                          </p>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                  </ul>

                </div>
              </div>
</div>
{% endif %}