<div>
              <div class="x_panel">
                <div class="x_title">
                  <h2>Quick Navigation</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <!-- modals -->
                  <!-- Large modal -->
                  {% if permissions.add_franchise or permissions.adduser or permissions.viewdoctor %}
                  <p class="col-md-12 col-xs-12 col-s-12" style="margin-top:8px;font-weight:bold;">Admin</p>
                  {% if permissions.add_franchise %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/viewfranchise.html'">
                    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Franchisees </p> 
                  </button>
                  {% endif %}
                  {% if permissions.adduser %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='viewusers.html'">
                    <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Manage Users </p> 
                  </button>
                  {% endif %}
                  {% if permissions.viewdoctor %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/doctor_details.html'">
                    <i class="fa fa-2x fa-user-md" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> View Doctors </p> 
                  </button>
                  {% endif %}
                  {% endif %}


                  {% if permissions.addbill or permissions.viewbill %}
                  <p class="col-md-12 col-xs-12 col-s-12" style="margin-top:8px;font-weight:bold;">Billing</p>
                  {% if permissions.ho %}
                    <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/newbill.html'">
                      <i class="fa fa-2x fa-inr" aria-hidden="true"></i>
                        <p style="margin-bottom:5px;margin-top:5px;"> Main Office Billing </p>
                    </button>
                  {% else %}
                    <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/invoicebill.html'">
                      <i class="fa fa-2x fa-inr" aria-hidden="true"></i>
                        <p style="margin-bottom:5px;margin-top:5px;"> Invoice Bill </p>
                    </button>
                    <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/newbill.html'">
                      <i class="fa fa-2x fa-plus-square" aria-hidden="true"></i>
                        <p style="margin-bottom:5px;margin-top:5px;"> Pharmacy Bill </p>
                    </button>
                  {% endif %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/pendingprescription.html'">
                    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Prescriptions </p> 
                  </button>
                  {% endif %}

                  {% if permissions.prescribe and permissions.viewpatient %}
                  <p class="col-md-12 col-xs-12 col-s-12" style="margin-top:8px;font-weight:bold;">Doctor</p>
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/prescription_new.html'">
                    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Prescribe </p> 
                  </button>
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/pending_patients.html'">
                    <i class="fa fa-2x fa-calendar-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Appointments </p> 
                  </button>
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/viewpatients.html'">
                    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> View Patients </p> 
                  </button>
                  {% endif %}

                  {% if permissions.add_customer or add_appointment %}
                  <p class="col-md-12 col-xs-12 col-s-12" style="margin-top:8px;font-weight:bold;">Reception</p>
                  {% if permissions.add_customer %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/registerpatient.html'">
                    <i class="fa fa-2x fa-user-plus" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Register </p> 
                  </button>
                  {% endif %}
                  {% if permissions.add_appointment %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/reception.html'">
                    <i class="fa fa-2x fa-calendar-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Appointment </p>
                  </button>
                  {% endif %}
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/enquiry.html'">
                    <i class="fa fa-2x fa-question" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> Enquiries </p> 
                  </button>
                  {% endif %}

                  {% if permissions.vendor %}
                  <p class="col-md-12 col-xs-12 col-s-12" style="margin-top:8px;font-weight:bold;">Vendor</p>
                  <button type="button" class="btn btn-primary col-md-5 col-s-6 col-xs-12" onclick="javascript:location.href='mydir/inspection.html'">
                    <i class="fa fa-2x fa-sticky-note-o" aria-hidden="true"></i>
                      <p style="margin-bottom:5px;margin-top:5px;"> File Report </p> 
                  </button>
                  {% endif %}

                </div>
              </div>
</div>