{% if permissions.add_customer or permissions.add_appointment %}
<div>
              <div class="x_panel">
                <div class="x_title">
                  <h2>Reception</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <ul class="list-unstyled timeline">
                    {% if permissions.add_customer %}
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="registerpatient.html" class="tag">
                            <span>Customer</span>
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                                          <a>Add a new Customer</a>
                                      </h2>
                          <p class="excerpt">Insert customer details to database.
                          </p>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                    {% if permissions.add_appointment %}
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="reception.html" class="tag">
                            <span>Appointment</span>
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                              <a>Add Appointment</a>
                          </h2>
                          <p class="excerpt">Schedule Appointments for doctors in your franchisee.
                          </p>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                  </ul>

                </div>
              </div>
</div>
{% endif %}