{% extends "interface/base.html" %}
{% block content %}

    <!-- header
    ================================================== -->
    {% include 'interface/elements/header.html' %}


    <!-- home
    ================================================== -->
    {% include 'interface/sections/landing.html' %}


    <!-- upload
    ================================================== -->
    {% include 'interface/sections/upload.html' %}


    <!-- nowshowing
    ================================================== -->
    {% include 'interface/sections/nowshowing.html' %}


    <!-- placementshortlist
    ================================================== -->
    {% include 'interface/sections/placementshortlist.html' %}


    <!-- footer
    ================================================== -->
    {% include 'interface/elements/footer.html' %}


    <!-- Random
    ================================================== -->
    {% include 'interface/elements/random.html' %}

{% endblock %}
