<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/static/interface/images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h1>Welcome to the MEC <br/> Display Interface</h1>


                <div class="home-content__buttons">
                    <a href="#upload" class="smoothscroll btn btn--stroke">
                        Upload a Poster
                    </a>
                    <a href="#nowshowing" class="smoothscroll btn btn--stroke">
                        Currently Showing
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#my-footer" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


</section> <!-- end s-home -->