<section id='nowshowing' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Posters</h3>
                    <h1 class="display-2 display-2--light">CURRENTLY SHOWING</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <ul class="pgwSlideshow">
                {% for p in posters %}
                    <li> <a href='javascript:(editpostermodal({{ p.id }},reloadpage))'>
                        <img id="image{{ p.id }}" src="{{ p.image.url }}" alt="{{ p.name }}"
                             data-description="Uploaded by {{ p.uploader.username}}<br/>Visible: {{ p.show }}"> </a> </li>
                {% endfor %}
            </ul>
        </div>



</section>