<section id='upload' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Upload a</h3>
                <h1 class="display-2">POSTER</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin: 5vw;">
                    <label for="fileToUpload">File</label>
                    <input class="full-width" type="file" name="posterToUpload" id="posterToUpload">
                </div>
                <div style="margin: 5vw;">
                    <label for="filename">Filename</label>
                    <input class="full-width" type="text" placeholder="eg. Welcome Poster" id="filename" name="filename">
                </div>
                <div style="margin: 5vw;display:none;">
                    <label for="filename">Type</label>
                    <input class="full-width" type="text" value="Poster" name="type" readonly>
                </div>


                <input id="uploadposter" class="btn--primary" style="margin-left: 5vw;" type="submit" value="Submit">

            </form>


        </div>

</section>