
            <div class="page-title" style="margin-bottom:10px;">
              <div class="title_left">
                <h3>Add User</h3>
              </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Wizard</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>This form adds a new user to your business.</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a id="button1" class="selected" isdone="1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Basic Details</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a id="button2" class="disabled" isdone="0">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Role</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a id="button3" class="disabled" isdone="0">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Permissions</small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      <form id="addform" action="adduser.html" method="post" class="form-horizontal form-label-left" data-parsley-validate=""> {% csrf_token %}
                      <div id="step-1" style="display:block;">

                         <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span> </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                         <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">User Name <span class="required">*</span> </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="username" name="username" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                            <p id="up" style="margin-top:7px"></p>
                         </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailid">E Mail ID <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email"  id="emailid" name="emailid" required="required" data-parsley-trigger="change" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          {% if permissions.change_franchise %}
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Organisation <span class="required">*</span> </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                             <select id="organisation" name="organisation" class="form-control">
                               <option value="Main Office">Main Office</option>
                               {% for f in flist %}
                               <option value="{{f.franchise_name}}">{{f.franchise_name}}</option>
                               {% endfor %}
                             </select>
                            </div>
                          </div>
                           {% endif %}

                      </div>
                      <div id="step-2" style="display:none;">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Role <span class="required">*</span> </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="role" name="role" class="form-control">
                              <option value="Doctor">Doctor</option>
                              <option value="Receptionist">Receptionist</option>
                              <option value="Admin">Admin</option>
                              <option value="Pharmacist">Pharmacist</option>
                              <option value="Accounts">Accounts</option>
                              {% if permissions.change_franchise %}
                                <option value="Vendor">Vendor</option>
                              {% endif %}
                            </select>
                            </div>
                          </div>
                          <script>
                              document.getElementById("role").selectedIndex = -1;
                          </script>
                          <div class="form-group" id="regid-container" style="display:none;">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="regid">Registration ID</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="regid" name="regid" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                            <p id="up2" style="margin-top:7px"></p>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneno">Phone Number </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="phoneno" name="phoneno" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                      </div>
                      <div id="step-3" style="display:none;">

                              {% if permissions.change_franchise or permissions.add_franchise %}
                              <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fr_a">Franchise Permissions </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                {% if permissions.add_franchise %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="fr_a" name="fr_a" class="flat"   type="checkbox"> Add
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.change_franchise %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="fr_e" name="fr_e" class="flat"   type="checkbox"> Edit
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.change_franchise %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="fr_d" name="fr_d" class="flat"   type="checkbox"> Delete/Suspend
                                  </label>
                                </div>
                                {% endif %}
                                </div>
                              </div>
                              {% endif %}


                              <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permu1">User Settings </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permu1" name="permu1" class="flat"   type="checkbox"> Add new users
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permu2" name="permu2" class="flat"   type="checkbox"> Modify other users
                                  </label>
                                </div>
                              </div>
                            </div>

                              {% if permissions.add_category or permissions.add_product or permissions.add_servicemask or permissions.add_packagemask or permissions.add_treatment or permissions.add_stock or permissions.add_stocktransfer %}
                              <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="im_c">Inventory Management</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                {% if permissions.add_category %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="im_c" name="im_c" class="flat"   type="checkbox"> Category
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.add_product %}
                                <div class="checkbox">
                                      <label class="">
                                        <input id="im_pr" name="im_pr" class="flat"   type="checkbox"> Product
                                      </label>
                                </div>
                                {% endif %}
                                {% if permissions.add_packagemask %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="im_pa" name="im_pa" class="flat" type="checkbox">Edit Packages
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.add_servicemask %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="im_se" name="im_se" class="flat" type="checkbox">Edit Services
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.add_treatment %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="im_tr" name="im_tr" class="flat" type="checkbox">Modify Treatments
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.add_stock  %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="im_sa" name="im_sa" class="flat"   type="checkbox"> Stock Addition
                                  </label>
                                </div>
                                {% endif %}
                                {% if permissions.add_stocktransfer %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="im_st" name="im_st" class="flat"   type="checkbox"> Stock Transfer
                                  </label>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                            {% endif %}

                              <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="perm1">Discount Permissions </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                  <label class="">
                                      <input id="perm1" name="perm1" class="flat" type="checkbox"> Item-wise
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="perm2" name="perm2" class="flat"   type="checkbox"> Category-wise
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="perm3" name="perm3" class="flat"   type="checkbox"> Price
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="perm4" name="perm4" class="flat"   type="checkbox"> Percentage
                                  </label>
                                </div>
                              </div>
                            </div>



                              <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permr1">Report Permissions </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permr1" name="permr1" class="flat"   type="checkbox"> Sales
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permr2" name="permr2" class="flat"   type="checkbox"> Stock
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permr5" name="permr5" class="flat"   type="checkbox"> Audit
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permr3" name="permr3" class="flat"   type="checkbox"> Receipt
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permr6" name="permr6" class="flat"   type="checkbox"> Enquiry
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permr7" name="permr7" class="flat"   type="checkbox"> Prescription
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permb1">Billing Privileges </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permb1" name="permb1" class="flat"   type="checkbox"> Bill
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permb2" name="permb2" class="flat"   type="checkbox"> Receipt
                                  </label>
                                </div>
                                {% if permissions.delete_auditreport  %}
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permb6" name="permb6" class="flat"   type="checkbox"> Delete Bill
                                  </label>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permd1">Doctor Patient Module</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                               <div class="checkbox">
                                  <label class="">
                                    <input id="permd5" name="permd5" class="flat"   type="checkbox"> Address Enquiries
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permd1" name="permd1" class="flat"   type="checkbox"> Schedule Appointment
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permd2" name="permd2" class="flat"   type="checkbox"> View Patient Details
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permd3" name="permd3" class="flat" type="checkbox"> Prescribe
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permd4" name="permd4" class="flat" type="checkbox"> View Doctor Details
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permd6" name="permd6" class="flat" type="checkbox"> Add/Edit Customers
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permd7" name="permd7" class="flat" type="checkbox"> View/Edit Scans
                                  </label>
                                </div>
                              </div>
                            </div>

                          {% if permissions.change_franchise %}
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permdis1">Vendor Module</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permdis1" name="permdis1" class="flat"   type="checkbox"> Franchisee implementation report
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label class="">
                                    <input id="permdis2" name="permdis2" class="flat"   type="checkbox"> Franchisee inspection report
                                  </label>
                                </div>
                              </div>
                            </div>
                          {% endif %}

                      </div>


                        {% include "app/mydir/includes/apps/adduser/actionbar.html" %}
                    </form>
                    </div>
                    <!-- End SmartWizard Content -->

                </div>
              </div>
            </div>
          </div>

          <script>
          jQuery('#username').on('input propertychange paste', function() {
              var text = $(this).val()
              $.ajax({
              url: '/ajax/checkusername/',
              data: {
                'username': $(this).val()
              },
              dataType: 'json',
              async: false,
              success: function (data) {
                  var d = document.getElementById("up")
                  if(text!='')
                    d.innerHTML = data.message;
                  else
                    d.innerHTML='';
                  d.style.color = data.colour;
              }
            });
          });

          </script>

          <script>
          jQuery('#regid').on('input propertychange paste', function() {
              var text = $(this).val()
              $.ajax({
              url: '/ajax/checkregid/',
              data: {
                'regid': $(this).val()
              },
              dataType: 'json',
              async: false,
              success: function (data) {
                  var d = document.getElementById("up2")
                  if(text!='0' && text!='')
                    d.innerHTML = data.message;
                  else
                    d.innerHTML='';
                  d.style.color = data.colour;
              }
            });
          });

          </script>