<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">Discount</h3>
                            </div>
                             <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right ">
                                    <div class="input-group">
                                        <select id="q" class="form-control">
                                          {% for c in discounts %}
                                            {% if c.sid %}
                                            <option value="{{c.id}}">{{c.sid.name}}</option>
                                            {% endif %}
                                            {% if c.pid %}
                                            <option value="{{c.id}}">{{c.pid.name}}</option>
                                            {% endif %}
                                            {% if c.proid %}
                                            <option value="{{c.id}}">{{c.proid.item_name}}</option>
                                            {% endif %}
                                            {% if c.tid %}
                                            <option value="{{c.id}}">{{c.tid.name}}</option>
                                            {% endif %}
                                          {% endfor %}
                                        </select>
                                      <script>
                                        document.getElementById("q").selectedIndex = -1;
                                      </script>
                                    </div>

                                </div>
                            </div>
</div>

<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small>Add/Edit Discount details</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="discountentry" method="post"  action="discountentry.html" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">Discount ID
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" name="id" placeholder="Leave blank for new package" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subject">Classification<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="subject" name="subject" class="form-control">
                              {% if fcode == 0 %}
                              <option value="Package">Package</option>
                              <option value="Service">Service</option>
                              {% else %}
                              <option value="Treatment">Treatment</option>
                              <option value="Product">Product</option>
                              {%  endif %}
                          </select>
                          <script>
                              document.getElementById("subject").selectedIndex = -1;
                          </script>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uid">Name<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="uid" name="uid" class="form-control">

                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Discount Type<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="type" name="type" class="form-control">
                              <option value="%">Percentage</option>
                              <option value="price">Price</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="value">Discount Value<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="value" name="value" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

<script>

  $(document).on('change','#q',function(){
               metalist = [];
      metalist.push(document.getElementById("q").value);
      $.ajax({
        url: '/ajax/getdiscounts/',
        data: {
          'metalist': metalist,
        },
        dataType: 'json',
        success: function (data) {
            document.getElementById("id").value = data.discount.id;
            $('[name=subject]').val(data.discount.subject);
            metalist = [];
            metalist.push(data.discount.subject);
            $.ajax({
                url: '/ajax/getitems/',
                data: {
                  'metalist': metalist,
                },
                dataType: 'json',
                success: function (data) {
                    var b = "";
                    if (metalist[0]=='Product')
                    for (var j = 0; j < data.item.length; j++) {
                                var s = '<option value="'+ data.item[j].id +'">'+ data.item[j].item_name +'</option>';
                                b = b+s;
                        }
                    else
                    for (var j = 0; j < data.item.length; j++) {
                                var s = '<option value="'+ data.item[j].id +'">'+ data.item[j].name +'</option>';
                                b = b+s;
                        }
                    document.getElementById("uid").innerHTML = b;
                }
             });

            setTimeout(function(){
                if (data.discount.subject=='Package')
                    $('[name=uid]').val(data.discount.pid_id);
                if (data.discount.subject=='Service')
                    $('[name=uid]').val(data.discount.sid_id);
                if (data.discount.subject=='Product')
                    $('[name=uid]').val(data.discount.proid_id);
                if (data.discount.subject=='Treatment')
                    $('[name=uid]').val(data.discount.tid_id);
                $('[name=type]').val(data.discount.discount_type);
            }, 100);
            document.getElementById("value").value = data.discount.value;
        }
      });
          });

  $(document).on('change','#subject',function(){
               metalist = [];
      metalist.push(document.getElementById("subject").value);
      $.ajax({
        url: '/ajax/getitems/',
        data: {
          'metalist': metalist,
        },
        dataType: 'json',
        success: function (data) {
            var b = "";
            if (metalist[0]=='Product')
            for (var j = 0; j < data.item.length; j++) {
                        var s = '<option value="'+ data.item[j].id +'">'+ data.item[j].item_name +'</option>';
                        b = b+s;
                }
            else
            for (var j = 0; j < data.item.length; j++) {
                        var s = '<option value="'+ data.item[j].id +'">'+ data.item[j].name +'</option>';
                        b = b+s;
                }
            document.getElementById("uid").innerHTML = b;
        }
      });
          });

</script>