<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <!--<li class="nav-label">Customer</li>-->
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Customer </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="../exportCustomer.html">Export</a></li>
                        <li><a href="../form_submit_Customer/">Add </a></li>
                        <li><a href="#">Edit</a></li>

                    </ul>
                </li>

                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-sticky-note"></i><span class="hide-menu">Invoice </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <!--<li><a href="export.html">Export</a></li>-->
                        <li><a href="../form_submit_Invoice/">Add </a></li>
                        <li><a href="#">Edit</a></li>

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->