<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">Franchises</h3>
                            </div>
                             <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <form action="viewfranchise.html" method="get">
                                    <div class="input-group">
                                        <input class="form-control" name="q" id="q" placeholder="Search for..." type="text">
                                        <span class="input-group-btn">
                                           <button class="btn btn-default" type="submit">Go!</button>
                                        </span>

                                    </div>
                                    </form>
                                </div>
                            </div>
</div>

    <div class="clearfix"></div>

<div class="panel">

                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <table id="datatable" class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Franchisee Code</th>
                                  <th>Franchisee Name</th>
                                  <th>Franchisee Type</th>
                                  <th>Location</th>
                                  <th>Office Number</th>
                                  <th>Admin E-mail</th>
                                  <th>Franchise Status</th>
                                  <th>Toggle Status</th>
                                  <!--<th>Delete</th>-->
                                </tr>
                              </thead>
                              <tfoot style="display: table-header-group;">
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <!--<th>Delete</th>-->
                                </tr>
                              </tfoot>

                              <tbody>
                              {% for f in franchise_list %}
                                <tr>
                                  <td scope="row">{{f.id}}</td>
                                  <th><a href="mydir/editfranchise.html?id={{ f.id }}">{{f.franchise_name}}</a></th>
                                  <td>{{f.franchise_type}}</td>
                                  <td>{{f.district}}</td>
                                  <td>{{f.phoneno}}</td>
                                  <td>{{f.admin.user.email}}</td>
                                  {% if f.active %}
                                  <td>Active</td>
                                  {% else %}
                                  <td style="color:red;">Suspended</td>
                                  {% endif %}
                                  {% if f.active %}
                                  <td class="sus"><a href="#"><i class="fa fa-lg fa-ban" aria-hidden="true"></i></a></td>
                                  {% else %}
                                  <td class="sus"><a href="#"><i class="fa fa-lg fa-check" aria-hidden="true"></i></a></td>
                                  {% endif %}

                                  <!--<td class="del"><a href="#"><i class="fa fa-lg fa-trash" aria-hidden="true"></i></a></td>-->
                                </tr>
                              {% endfor %}
                              </tbody>

                            </table>
                          </div>
                        </div>
</div>


<script>
  jQuery(document).ready(function($){
                $(".del").on("click",function(){
                fcode =$(this).siblings()[0].innerHTML;
                    $.ajax({
                        url: "ajax/suspendfranchise/",
                        data: { 'delcode': fcode },
                        success: function(response){
                                window.location.replace('viewfranchise.html');
                        },
                        error: function(){
                              // do action
                        }
                    });
                });
            });

  jQuery(document).ready(function($){
                $('#datatable').DataTable({bFilter: true, bInfo: false, bLengthChange: false,
                    initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select><option value="">All</option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            if(d[0]=='<')
                                {
                                  d = d.split(/>|</);
                                  d = d[2]
                                }
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
                });



                $(".sus").on("click",function(){
                fcode =$(this).siblings()[0].innerHTML;
                    $.ajax({
                        url: "ajax/suspendfranchise/",
                        data: { 'suscode': fcode },
                        success: function(response){
                              window.location.replace('viewfranchise.html');
                        },
                        error: function(){
                              // do action
                        }
                    });
                });
            });


</script>