    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      {% if results is defined %}
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="lostpassword-form" method="post"  action="lostpassword.html"> {% csrf_token %}
              <a href="http://app.clubayurveda.com" class="site_title"> <img style="position:absolute ; left:50%; max-height:90%;max-width:80%;-webkit-transform: translate(-50%, -50%);display:block;" src="/static/images/logo.png"></a>
                  <h4 style="margin-bottom:20px;">Enter one of the following keys</h4>
                  <div>
                    <input id="username" name="username" type="text" class="form-control" placeholder="Username" />
                  </div>
                  <div>
                    <input id="phoneno" name="phoneno" type="text" class="form-control" placeholder="Phone No"  />
                  </div>
                  <div>
                    <input id="emailid" name="emailid" type="text" class="form-control" placeholder="Email ID"  />
                  </div>

                  <div>
                    <button type="submit" class="btn btn-success">Search</button>
                  </div>
              <div class="clearfix"></div>
            </form>
          </section>
       </div>
      </div>
    </div>
    {% else %}

    <div style="margin-bottom:20px;">
        <div class="col-md-3 col-sm-3 col-xs-3">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <a href="clubayurveda.com" class="site_title"> <img style="position:absolute ; left:50%; top:50%; max-height:90%;max-width:100%;-webkit-transform: translate(-50%, -50%);display:block;" src="/static/images/logo_white.png"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
        </div>
    </div>

    <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Email ID</th>
              <th>Phone Number</th>
              <th>Reset Password</th>
            </tr>
          </thead>
          <tbody>
          {% for f in results %}
            <tr>
              <td>{{f.user.username}}</a></td>
              <th>{{f.name}}</th>
              <td>{{f.user.email}}</td>
              <td>{{f.phoneno}}</td>
              <td class="mymail"><a data-toggle="tooltip" title="Mail new password" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

<div class="ui-pnotify  ui-pnotify-fade-normal ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move" style="width: 300px; right: 36px; top: 160px; cursor: auto;" aria-live="assertive" aria-role="alertdialog">
  <div  id="notify" class="alert ui-pnotify-container alert-success ui-pnotify-shadow" role="alert" style="display:none; min-height: 16px;">
    <div class="ui-pnotify-closer" aria-role="button" tabindex="0" title="Close" style="cursor: pointer;">
      <span onclick="remove()" class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="ui-pnotify-icon">
      <span class="glyphicon glyphicon-ok-sign"></span>
    </div>
    <h4 class="ui-pnotify-title">Success</h4>
    <div class="ui-pnotify-text" aria-role="alert">New password sent
    </div>
  </div>
</div>

<script>
  function remove() {
    var x = document.getElementById('notify');
        x.style.display = 'none';
}
</script>

<script>

$(document).ready(function(){
    $("p").click(function(){
        $(this).hide();
    });
});

jQuery(document).ready(function($){
                $(".mymail").on("click",function(){
                username=$(this).siblings()[0].innerHTML;
                document.getElementById('loader').style.display='block';
                    $.ajax({
                        url: "ajax/mailpassword/",
                        data: { 'username': username },
                        success: function(response){
                              document.getElementById('loader').style.display='none';
                              if(response.success=='1')
                                  {
                                    var x = document.getElementById('notify');
                                    x.style.display = 'block';
                                  }
                        },
                        error: function(){
                              // do action
                        }
                    });
                 });
           });


</script>