<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">Treatment</h3>
                            </div>
                             <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right ">
                                    <div class="input-group">
                                        <select id="q" class="form-control">
                                          {% for c in treatments %}
                                            <option value="{{c.name}}">{{c.name}}</option>
                                          {% endfor %}
                                        </select>
                                      <script>
                                        document.getElementById("q").selectedIndex = -1;
                                      </script>
                                    </div>

                                </div>
                            </div>
</div>

<div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                  <!-- -->
                  <div class="x_panel">
                  <div class="x_title">
                    <h2><small>View Treatments</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <!-- -->
                  <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <table id="datatable" class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Treatment Name</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for c in treatments %}
                                <tr>
                                  <td><a href="#" onclick="getdetails('{{c.name}}')">{{c.name}}</a></td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small>Add/Edit Treatment details</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="treatmententry" method="post" action="mytreatments.html" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">Treatment ID
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" name="id" placeholder="Leave blank for new treatment" class="form-control col-md-7 col-xs-12" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="name" name="name" class="form-control">
                                          {% for c in treatmentmaster %}
                                            <option data-duration="{{c.duration}}" value="{{c.name}}">{{c.name}}</option>
                                          {% endfor %}
                                        </select>
                                      <script>
                                        document.getElementById("name").selectedIndex = -1;
                                        $('#name').on('change', function() {
                                          var optionSelected = $("option:selected", this);
                                          $('#duration').val(optionSelected.data("duration"));
                                        });
                                      </script>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="duration">Duration
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="duration" name="duration" class="form-control col-md-7 col-xs-12" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rate">Rate <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="rate" name="rate" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax_cgst">Tax
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                          <input type="text" id="tax_cgst" name="tax_cgst" required="required" placeholder="CGST" class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                          <input type="text" id="tax_sgst" name="tax_sgst" required="required" placeholder="SGST" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

{% include 'app/mydir/common/successfulinsertion.html' %}

<script>

  function launchajax(metalist)
  {
    $.ajax({
        url: '/ajax/gettreatments/',
        data: {
          'metalist': metalist,
        },
        dataType: 'json',
        success: function (data) {
            document.getElementById("id").value = data.treatment.id;
            $('[name=name]').val(data.treatment.name);
            document.getElementById("rate").value = data.treatment.rate
            document.getElementById("tax_cgst").value = data.treatment.tax_CGST
            document.getElementById("tax_sgst").value = data.treatment.tax_CGST
            document.getElementById("remarks").value = data.treatment.remarks;
            document.getElementById("discount").value = data.treatment.discount;
        }
      });
  }

  $(document).on('change','#q',function(){
      var metalist = [];
      metalist.push(document.getElementById("q").value);
      launchajax(metalist);
          });

  function getdetails(sname)
     {
        $("#q").val(sname);
        var metalist = [];
        metalist.push(sname);
        launchajax(metalist);
     }

     $(document).ready(function() {
      $('#datatable').dataTable({bFilter: false, bInfo: false, bLengthChange: false});
     } );
</script>