<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">SKU</h3>
                            </div>
                             <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right ">
                                    <div class="input-group">
                                        <select id="q" class="form-control">
                                          {% for c in skulist %}
                                            <option value="{{c.unit}}">{{c.unit}}</option>
                                          {% endfor %}
                                        </select>
                                      <script>
                                        document.getElementById("q").selectedIndex = -1;
                                      </script>
                                    </div>

                                </div>
                            </div>
</div>


<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add SKU <small>Add a new SKU field for product classification</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="skuentry" method="post"  action="skuentry.html" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">SKU ID
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="id" name="id" placeholder="Leave blank for new SKU" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unit">Unit <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="unit" name="unit" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                          <button type="button" class="btn btn-danger" onclick="deletesku()" >Delete</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

{% include 'app/mydir/common/successfulinsertion.html' %}

<script>
  $(document).on('change','#q',function(){
               metalist = [];
      metalist.push(document.getElementById("q").value);
      $.ajax({
        url: '/ajax/getskulist/',
        data: {
          'metalist': metalist,
        },
        dataType: 'json',
        success: function (data) {
            document.getElementById("id").value = data.sku.id;
            document.getElementById("name").value = data.sku.name;
            document.getElementById("unit").value = data.sku.unit;
         }

      });
  });

  function deletesku(){
      del_id = document.getElementById("id").value;
      if(del_id == '')
      { alert("No SKU selected"); return; }
      alert(del_id);
      metalist = [];
      metalist.push(del_id);
      $.ajax({
        url: '/ajax/deletesku/',
        data: {
          'metalist': metalist,
        },
        dataType: 'json',
        success: function (data) {
            if(data.success==1)
                location.reload();
            else
            {
                document.getElementById('notify-f2').style.display = 'block';
                document.getElementById('message-f').innerHTML = data.error;
            }
         }

      });
  }

</script>