<footer id="my-footer">

        <div class="row footer-main">

            <div class="col-five tab-full left footer-desc">
                <div class="col-twelve">
                    <img src="/static/interface/images/mec-logo.png" style="width:100px;height:100px;float: right;"> <br/>
                </div>


            </div>

            <div class="col-one tab-full left footer-desc" style="border-right: 1px solid #e6e6e6; height: 100px;">
                &nbsp;
            </div>
            <div class="col-one tab-full left footer-desc" style="border-left: 1px solid #e6e6e6; height: 100px;">
                &nbsp;
            </div>

            <div class="col-five tab-full right footer-subscribe">

                <div class="col-twelve">
                    <img src="/static/interface/images/PC-logo.png" style="width:100px;height:100px;"> <br/>
                </div>

            </div>


        </div> <!-- end footer-main -->

        <div class="col-twelve" style="margin-top:20px;" >
            <div class="copyright">
                <span>Placement Cell, Govt. Model Engineering College</span>
            </div>
        </div>

        <div class="row footer-bottom">

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
        </div>


</footer>