<header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="/static/interface/images/logo.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#upload" title="upload">Upload poster</a></li>
                    <li><a class="smoothscroll"  href="#nowshowing" title="services">Currently Showing</a></li>
                    <li><a class="smoothscroll"  href="#placementshortlist" title="works">Placement Shortlists</a></li>
                    <li><a href="/logout" title="logout">Logout</a></li>
                </ul>



            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->