<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">Pending Prescriptions</h3>
                            </div>

</div>

    <div class="clearfix"></div>

<div class="panel">

                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Bill Type</th>
                                  <th>Patient Code</th>
                                  <th>Patient Name</th>
                                  <th>Consulting Doctor</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for f in medprescriptionlist %}
                                <tr>
                                  <td>Pharmacy Bill</td>
                                  <th><a href="/pendingprescriptionview.html?q={{f.customer_code}}&suffix=medpr">{{f.customer_code}}</a></th>
                                  <td>{{f.customer_name}}</td>
                                  <td>{{f.doctor_name}}</td>
                                </tr>
                              {% endfor %}
                              {% for f in trprescriptionlist %}
                                <tr>
                                  <td>Invoice Bill</td>
                                  <th><a href="/pendingprescriptionview.html?q={{f.customer_code}}&suffix=trpr">{{f.customer_code}}</a></th>
                                  <td>{{f.customer_name}}</td>
                                  <td>{{f.doctor_name}}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
</div>
