<div class="page-title">
                            <div class="title_left">
                                  <h3 style="margin-left:20px;">Prescription</h3>
                            </div>
                             <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <form>
                                    <div class="input-group">
                                        <input class="form-control" name="q" id="q" value="{{patientID}}" type="text" readonly>
                                    </div>
                                    </form>
                                </div>
                            </div>
</div>

    <div class="clearfix"></div>





<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Prescribe</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />




                    <form id="prescriptionform" method="post"  action="prescription_new.html" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}

                      <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Diagnosis</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              <textarea class="form-control col-md-8 col-xs-12" rows="6" required="required" readonly>{{details.diagnosis}}</textarea>
                            </div>
                      </div>


                      <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Follow up date </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" value="{{details.followupdate}}" class="form-control col-md-1 col-xs-12" readonly>
                            </div>
                      </div>

                      {% for key, value in details.prescription.iteritems %}
                      <div class="form-group prescription_list">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Prescribed</label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                 <input type="text" id="type{{loop.index}}" name="type{{loop.index}}" required="required" value="{{value.0}}" class="form-control col-md-1 col-xs-12" readonly>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                 <input type="text" id="medicine{{loop.index}}" name="medicine{{loop.index}}" required="required" value="{{value.1}}" class="form-control col-md-1 col-xs-12" readonly>
                            </div>
                             <label class="control-label col-md-1 col-sm-1 col-xs-12" for="quantity{{loop.index}}">Quantity <span class="required">*</span>
                             </label>
                             <div class="col-md-1 col-sm-1 col-xs-12">
                                 <input type="text" id="quantity{{loop.index}}" name="quantity{{loop.index}}" required="required" value="{{value.2}}" class="form-control col-md-1 col-xs-12" readonly>
                             </div>
                             <label class="control-label col-md-1 col-sm-1 col-xs-12" for="dosage{{loop.index}}">Dosage/Suggestions
                             </label>
                             <div class="col-md-3 col-sm-3 col-xs-12">
                                 <input type="text" id="dosage{{loop.index}}" name="dosage{{loop.index}}" required="required" value="{{value.3}}" class="form-control col-md-3 col-xs-12">
                             </div>

                      </div>
                      {% endfor %}

                    </form>
                    <div class="actionBar">
                          <button class="buttonNext btn btn-success" onclick="printprescription()" >Print Prescription</button>
                          <button class="buttonNext btn btn-success" onclick="gotobill()" id="finish" >Proceed to Bill</button>
                    </div>

                  </div>
                </div>
              </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Final Prescription</h4>
      </div>
      <div class="modal-body" style="height:70vh;">
        <img id="pr_img" style="position:absolute; top:50%; left:50%; max-height:90%;max-width:80%;-webkit-transform: translate(-50%, -50%);display:block;">
      </div>
      <div class="modal-footer">
          <button type="button" onclick="printImg()" class="buttonNext btn btn-success">Print Prescription</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type='text/javascript'>

        function gotobill(){
            var s = "{{ link }}id={{ patientID }}&doctor={{details.doctor}}&";
            var children = document.getElementsByTagName("input");
            var rateslist=[];
            {% for r in details.rates %}
                rateslist.push("{{r}}")
            {% endfor %}
            for (var i = 3; i < children.length; i+=4) {
                s+=("p"+((i-3)/4).toString()+"="+(children[i+1].value)+"&");
                s+=("q"+((i-3)/4).toString()+"="+(children[i+2].value)+"&");
                s+=("r"+((i-3)/4).toString()+"="+rateslist[((i-3)/4)].toString()+"&");
            }
            i=(i-3)/4;
            cfees={{cfees}};
            if (cfees)
                s = s+"p"+(i).toString()+"=Consultation fee&"+"q"+(i).toString()+"=&"+"r"+(i).toString()+"="+cfees.toString()+"&";
            s = s.substring(0, s.length-1);
            window.location.href = s;
        }

        function printprescription(){
          productlist = [];
          quantitylist = [];
          dosagelist = [];
          report=[];
          var children = document.getElementsByTagName("input");
          report.push("{{details.doctor}}");
          report.push("{{patientID}}");
          report.push("{{suffix}}");
          for (var i = 3; i < children.length; i+=4) {
            productlist.push(children[i+1].value);
            quantitylist.push(children[i+2].value);
            dosagelist.push(children[i+3].value);
          }
          $.ajax({
            url: '/ajax/printprescription/',
            data: {
              'meta' : report,
              'productlist': productlist,
              'quantitylist': quantitylist,
              'dosagelist': dosagelist
            },
            async:false,
            dataType: 'json',
            success: function (data) {
                 if (data.success==1)
                 {
                    document.getElementById("pr_img").src="/media/bill/"+data.filename+".jpg";
                     $("#myModal").modal();
                 }
                 else
                 {
                     new PNotify({
                      title: 'Error',
                      text: 'This prescription has already been printed.',
                      type: 'error',
                      styling: 'bootstrap3'
                    });
                 }

            }
          });
        }


        function printImg() {
          url = document.getElementById("pr_img").src;
          url = url.slice(0,-4);
          url = url+'.pdf';
          window.open(url, '_blank', 'fullscreen=yes');
        }

</script>